<li>
	{{burgers}}

	<button class="devour-part" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}SLEEP TIME!{{id}}{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
